---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
	<div class="wordwrap">You can find a full list of my publications on my <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference Proceedings</h2>
<div class="publications-list">
	<ul>
		<li>
			<strong>Chawatama, K.</strong>, Tekin, C., Ercelik, M., &amp; Tunca, B. (2026). Cross-species single-cell analysis reveals hepatocyte-driven reprogramming of the tumor immune microenvironment in NASH vs viral HCC. <em>European Journal of Immunology, 56</em>(S1), P07, 40, e70216. <a href="https://doi.org/10.1002/eji.70216">https://doi.org/10.1002/eji.70216</a>
		</li>
		<li>
			<strong>Chawatama, K.</strong>, &amp; Tunca, B. (2026). Characterizing Tumor Microenvironment Transcriptome Variations in NASH and Viral Hepatocellular Carcinomas for Targeted Therapy. <em>18th International Symposium on Health Informatics and Bioinformatics (HIBIT 2025)</em>. Abstract book in revision for publication in <em>Acibadem University Journal of Health Sciences</em>, 17(Supplement 1).
		</li>
		<li>
			Amirak, E., Guler, M., <strong>Chawatama, K.</strong>, &amp; Demirbag, M. (2023). Comprehensive Analysis of Promoter Methylation Effects on the GPRC5A Methylation Profile Across Various Cancer Types. <em>16th International Symposium on Health Informatics and Bioinformatics (HIBIT 2023)</em>. <a href="https://fs.hacettepe.edu.tr/hibit/dosyalar/Abstract%20Book-merged.pdf">Abstract Book</a>
		</li>
	</ul>
</div>

<h2>Select Publications</h2>
<div class="publications-list">
	<ul>
		<li>Coming soon! I am but a humble undergrad :)</li>
	</ul>
</div>

<p>† Denotes equal contribution.</p>


